body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

header,
.header__line {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #96b7f3;
  /* border: 2px solid #0f0276; */
}

.header__line {
  position: fixed;
  background-color: transparent;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
}

.header__line div {
  border: 0.2px solid #6e8ff3;
  padding: 0;
  margin: 0;
  width: 100%;
  z-index: 0;
}

.header__left,
.header__middle,
.header__right {
  z-index: 10;
  width: 25%;
}

.header__left {
  display: flex;
  align-items: center;
  margin-left: 10px;
  flex-direction: column;
  padding-left: 80px;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header__left p:first-child {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(#3799e0, #013ee6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.header__left p:last-child {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(white, rgba(255, 124, 216, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
}

.header__right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.header__middle {
  display: flex;
  align-items: flex-end;
  gap: 2px;
}

.header__button {
  padding: 10px 20px;
  border: 1.5px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 0;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
}

.blue {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+19,0a77d5+34,539fe1+79,87bcea+100 */
  background: rgb(208, 228, 247); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 19%,
    rgba(10, 119, 213, 1) 34%,
    rgba(83, 159, 225, 1) 79%,
    rgba(135, 188, 234, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 19%,
    rgba(10, 119, 213, 1) 34%,
    rgba(83, 159, 225, 1) 79%,
    rgba(135, 188, 234, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 19%,
    rgba(10, 119, 213, 1) 34%,
    rgba(83, 159, 225, 1) 79%,
    rgba(135, 188, 234, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */

  text-shadow: 4px 4px 4px rgba(10, 119, 213, 1);
}

.purple {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4b9e5+29,a849a3+79 */
  background: rgb(228, 185, 229); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(228, 185, 229, 1) 29%,
    rgba(168, 73, 163, 1) 79%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(228, 185, 229, 1) 29%,
    rgba(168, 73, 163, 1) 79%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(228, 185, 229, 1) 29%,
    rgba(168, 73, 163, 1) 79%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4b9e5', endColorstr='#a849a3',GradientType=0 ); /* IE6-9 */

  text-shadow: 2px 1px 2px rgba(168, 73, 163, 1);
}
.yellow {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f1da36+48 */
  background: rgb(254, 252, 234); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(254, 252, 234, 1) 0%,
    rgba(241, 218, 54, 1) 48%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(254, 252, 234, 1) 0%,
    rgba(241, 218, 54, 1) 48%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(254, 252, 234, 1) 0%,
    rgba(241, 218, 54, 1) 48%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

  text-shadow: 4px 4px 4px yellow;
}
.skyblue {
  background: rgb(208, 228, 247); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 24%,
    rgba(10, 119, 213, 1) 34%,
    rgba(83, 159, 225, 1) 79%,
    rgba(135, 188, 234, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 24%,
    rgba(10, 119, 213, 1) 34%,
    rgba(83, 159, 225, 1) 79%,
    rgba(135, 188, 234, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(208, 228, 247, 1) 0%,
    rgba(115, 177, 231, 1) 24%,
    rgba(10, 119, 213, 1) 34%,
    rgba(83, 159, 225, 1) 79%,
    rgba(135, 188, 234, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */

  text-shadow: 2px 1px 2px rgba(10, 119, 213, 1);
}
.pink {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fcecfc+0,f9b8f9+47,fba6e1+50,ff7cd8+100 */
  background: rgb(252, 236, 252); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(252, 236, 252, 1) 0%,
    rgba(249, 184, 249, 1) 47%,
    rgba(251, 166, 225, 1) 50%,
    rgba(255, 124, 216, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(252, 236, 252, 1) 0%,
    rgba(249, 184, 249, 1) 47%,
    rgba(251, 166, 225, 1) 50%,
    rgba(255, 124, 216, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(252, 236, 252, 1) 0%,
    rgba(249, 184, 249, 1) 47%,
    rgba(251, 166, 225, 1) 50%,
    rgba(255, 124, 216, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */

  text-shadow: 1px 1px 1px rgba(255, 124, 216, 1);
}

.header__bottom {
  width: 100%;
  height: 20px;
  background: #000;
  background: rgb(235, 241, 246); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(235, 241, 246, 1) 0%,
    rgba(171, 211, 238, 1) 50%,
    rgba(137, 195, 235, 1) 51%,
    rgba(213, 235, 251, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(235, 241, 246, 1) 0%,
    rgba(171, 211, 238, 1) 50%,
    rgba(137, 195, 235, 1) 51%,
    rgba(213, 235, 251, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(235, 241, 246, 1) 0%,
    rgba(171, 211, 238, 1) 50%,
    rgba(137, 195, 235, 1) 51%,
    rgba(213, 235, 251, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 ); /* IE6-9 */
}

.header__bottom p {
  font-size: 1.1rem;
  margin: 5px 30px;
  color: #0c49f2;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #05afe2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1.5px solid #0f0276;
}

footer div {
  width: 30%;
  margin-top: -10px;
  font-weight: bold;
  color: #0765bc;
}

footer div:nth-child(1) {
  text-align: right;
  margin-left: 70px;
}

footer div:nth-child(2) {
  margin: 10px;
  padding: 10px;
  background: #024d86;
  border-radius: 10px;
  border: 1.5px solid #050041;
}

footer div:nth-child(2) span {
  color: #c0afec;
}

footer div:nth-child(2) p {
  color: white;
  font-weight: 100;
}

main {
  background: #1060a7;
  width: 100%;
  box-sizing: border-box;
  height: calc(100vh - 165px);
}

.main__content {
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
}

.user__content {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 3px;
}

.user__container {
  width: 100%;
  height: 180px;
  background: #0f0276;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-sizing: border-box;
  padding: 10px 5px;
  border-radius: 10px;
}

.user__container-info {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.user__container-img {
  width: 50%;
  height: 100%;
  background: #90a8e8;
}

.user__container-info__header {
  width: 100%;
  height: 20%;
  margin-bottom: -10px;
  background: #d2ed57;
  border: 1px solid #d2ed57;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  color: #0f0276;
}

.reader {
  background: #ff99ff;
  border-color: #ff99ff;
  color: white;
}

.user__container-info__name,
.user__container-info__grade,
.user__container-info__score {
  width: 100%;
  height: 25%;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d2ed57;
}
.reader-border {
  border: 1px solid #ff99ff;
}

.user__container-info__name {
  color: #013ee6;
  background: #90a8e8;
}

.user__container-info__grade {
  padding-top: 5px;
  box-sizing: border-box;
  font-size: 2.5rem;
  color: yellow;
  text-shadow: 1px 1px 1px #000;
  background: #3f77db;
}

.user__container-info__score {
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  background: #3740e8;
  color: yellow;
}

.user__container-img {
  height: 100%;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse {
  flex-direction: row-reverse;
}

.canvas__content {
  width: 50%;
  height: 670px;
  margin-top: 5px;
  justify-self: center;
}

.canvas__header {
  width: 100%;
  padding: 10px;
  color: #bde45a;
  font-weight: 400;
  text-align: center;
}

.canvas__container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background: #3799e0;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px;
  flex-direction: column;
}

.canvas__container p {
  width: 100%;
  align-content: flex-start;
  text-align: center;
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(137, 195, 235, 1);
  color: #96b7f3;
  text-shadow: 3px 1px 2px #001d8a;
  /* text-shadow: -1px 0 #001d8a, 0 1px #001d8a, 1px 0 #001d8a, 0 -1px #001d8a; */
}

canvas {
  width: 100%;
  height: 75%;
  background: #fff;
  border-radius: 4px;
  border: 2px solid #1060a7;
}

.canvas__container-setting {
  width: 100%;
  height: 20%;
  display: flex;
}

.canvas__container-colors,
.canvas__container-button-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.canvas__container-button-box input[type="text"] {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  border-top: 2.5px solid black;
  border-left: 2.5px solid black;
  outline: none;
}

.canvas__container-button-box input[type="file"] {
  width: 50%;
  padding: 5px;
}

.canvas__container-button-box button,
.canvas__container-button-box input[type="file"] {
  padding: 7px 5px;
  min-width: 100.5px;
  /* max-width: 100px; */
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1.5px solid #0f0276;
  color: white;
  text-shadow: 2px 2px 3px #0f0276;
  cursor: pointer;
  background: rgb(179, 220, 237); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 100%,
    rgba(179, 220, 237, 1) 100%,
    rgba(188, 224, 238, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 100%,
    rgba(179, 220, 237, 1) 100%,
    rgba(188, 224, 238, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(179, 220, 237, 1) 0%,
    rgba(41, 184, 229, 1) 100%,
    rgba(179, 220, 237, 1) 100%,
    rgba(188, 224, 238, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee',GradientType=0 ); /* IE6-9 */
}

.canvas__container-button-box button:hover,
.canvas__container-button-box input[type="file"]:hover {
  opacity: 0.8;
}

.canvas__container-colors {
  display: grid;
  place-items: center;
  align-content: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in-out 0.1s;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.setting__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.setting__container-etc {
  width: 100%;
  display: flex;
  gap: 10px;
}

.setting__container-etc input[type="file"] {
  width: 40%;
  padding: 5px;
}

.setting__container-etc input[type="range"] {
  width: 50%;
  padding: 5px;
}
